In [2]:
import numpy as np
import pandas as pd

In [3]:
data1 = pd.read_csv("medical_records.csv")
df1 = pd.DataFrame(data1)
print(df1)

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

In [7]:
print(df1.shape)
print("-----------------------------------------------------")
print(df1.head())
print("-----------------------------------------------------")
print(df1.tail())
print("-----------------------------------------------------")
print(df1.info())
print("-----------------------------------------------------")
print(df1.isnull())
print("-----------------------------------------------------")
print(df1.fillna(30))

(120, 6)
-----------------------------------------------------
  record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0      R101       P013  Hypertension  120/80        140.0        2000
1      R102       P105      Diabetes  120/80          NaN        2500
2      R103       P098  Hypertension    high        140.0        3000
3      R104       P038        Asthma  140/90          NaN        3000
4      R105       P040        Asthma  130/85          NaN        1500
-----------------------------------------------------
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500
-----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   record_id    120 non-null    object
 1   patient_id   120 non-null    object
 2   diagnosis    120 non-null    object
 3   bp           120 non-null    object
 4   sugar_level  85 non-null     float64
 5   visit_cost   120 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.8+ KB
None
-----------------------------------------------------
     record_id  patient_id  diagnosis     bp  sugar_level  visit_cost
0        False       False      False  False        False       False
1        False       False      False  False         True       False
2        False       False      False  False        False       False
3        False       False      False  False         True       False
4        False       False      False  False         True       False
..         ...         ...        ...    ...          ...         ...
115      False       False      False  False        False       False
116      False       False      False  False         True       False
117      False       False      False  False         True       False
118      False       False      False  False        False       False
119      False       False      False  False        False       False

[120 rows x 6 columns]
-----------------------------------------------------
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80         30.0        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90         30.0        3000
4        R105       P040        Asthma  130/85         30.0        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high         30.0        1500
117      R218       P063  Hypertension  140/90         30.0        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

In [9]:
data2 = pd.read_csv("patient_details.csv")
df2 = pd.DataFrame(data2)
print(df2)

    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009           NaN  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]

In [10]:
print(df2.shape)
print("-----------------------------------------------------")
print(df2.head())
print("-----------------------------------------------------")
print(df2.tail())
print("-----------------------------------------------------")
print(df2.info())
print("-----------------------------------------------------")
print(df2.isnull())
print("-----------------------------------------------------")
print(df2.fillna(30))

(130, 7)
-----------------------------------------------------
  patient_id          name   age gender     city admission_date height_cm
0       P001           NaN  25.0      F   mumbai     15/01/2024       180
1       P002  Rahul Sharma  60.0      F    Delhi     2024/01/16       170
2       P003    Neha Singh  45.0      M   Mumbai     2024/01/16       150
3       P004    Neha Singh  60.0   Male  kolkata     15/01/2024       170
4       P005    Neha Singh  25.0   Male  kolkata     2024-01-15       180
-----------------------------------------------------
    patient_id          name   age  gender     city admission_date height_cm
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009           NaN  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150
-----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      130 non-null    object
 1   name            107 non-null    object
 2   age             106 non-null    float64
 3   gender          130 non-null    object
 4   city            130 non-null    object
 5   admission_date  130 non-null    object
 6   height_cm       130 non-null    object
dtypes: float64(1), object(6)
memory usage: 7.2+ KB
None
-----------------------------------------------------
     patient_id   name    age  gender   city  admission_date  height_cm
0         False   True  False   False  False           False      False
1         False  False  False   False  False           False      False
2         False  False  False   False  False           False      False
3         False  False  False   False  False           False      False
4         False  False  False   False  False           False      False
..          ...    ...    ...     ...    ...             ...        ...
125       False  False  False   False  False           False      False
126       False  False  False   False  False           False      False
127       False  False  False   False  False           False      False
128       False   True  False   False  False           False      False
129       False  False  False   False  False           False      False

[130 rows x 7 columns]
-----------------------------------------------------
    patient_id          name   age  gender     city admission_date height_cm
0         P001            30  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009            30  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]